BPEL/src/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Client" targetNamespace="http://j2ee.netbeans.org/wsdl/BPEL/src/Client"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BPEL/src/Client" xmlns:ns="http://rs.udc.es/billing" xmlns:ns0="http://rs.udc.es/telco" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/BPEL/src/Client">
            <xsd:import namespace="http://rs.udc.es/billing" schemaLocation="BillingService_schema.xsd"/>
            <xsd:import namespace="http://rs.udc.es/telco" schemaLocation="TelcoService_schema.xsd"/>
        </xsd:schema>
    </types>
    <message name="ClientOperationRequestData">
        <part name="id" type="xsd:long"/>
        <part name="month" type="xsd:byte"/>
        <part name="year" type="xsd:int"/>
    </message>
    <message name="ClientOperationResponse">
        <part name="idAndTotalBill" type="ns:createAndSendBillResponse"/>
        <part name="paymentDone" type="xsd:boolean"/>
        <part name="callList" type="ns:createAndSendBill"/>
    </message>
    <message name="clientPayOK">
        <part name="id" type="xsd:long"/>
        <part name="billAmount" type="ns:createAndSendBillResponse"/>
    </message>
    <message name="ClientOperationResponseBillInfo">
        <part name="id" type="xsd:long"/>
        <part name="month" type="xsd:byte"/>
        <part name="year" type="xsd:int"/>
    </message>
    <message name="ClientOperationPayment">
        <part name="id" type="xsd:long"/>
        <part name="month" type="xsd:byte"/>
        <part name="year" type="xsd:int"/>
        <part name="succesfulPayment" type="xsd:boolean"/>
    </message>
    <message name="ExceptionMessage">
        <part name="FaultMessage" type="xsd:string"/>
    </message>
    <portType name="ClientPortTypeMain">
        <operation name="ClientConfirmBillOperation">
            <input name="input1" message="tns:ClientOperationResponseBillInfo"/>
            <output name="output1" message="tns:ClientOperationResponse"/>
        </operation>
        <operation name="ClientStartOperation">
            <input name="input2" message="tns:ClientOperationRequestData"/>
            <output name="output2" message="tns:clientPayOK"/>
        </operation>
        <operation name="ClientPaymentOperation">
            <input name="input3" message="tns:ClientOperationPayment"/>
            <output name="output3" message="tns:ClientOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ClientMain">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ClientPortTypeRole" portType="tns:ClientPortTypeMain"/>
    </plnk:partnerLinkType>
</definitions>
